<% recipe = Recipe.find_by("id" => params["id"]) %>

<h1>Edit Recipe for <%= recipe["recipe_name"] %></h1>

<form action="/recipes/<%= recipe["id"] %>" method="patch">

  <p>
    <label>What is the name of the recipe?</label>
    <input type="string" name="recipe_name" value="<%= recipe["recipe_name"] %>" >
  </p>

  <p>
    <label>What type of recipe is this (e.g., Mexican, Thai)?</label>
    <input type="string" name="category_name" value="<%= recipe["category_name"] %>">
  </p>

  <p>
    <label>Do you have any notes or recommend any changes to this recipe?</label>
    <input type="text" name="notes" value="<%= recipe["notes"] %>">
  </p>

    <p>
    <label>What rating would you give the recipe, with 1=would not try again and 5=my new favorite dish?</label>
    <input type="integer" name="star_rating" value="<%= recipe["star_rating"] %>">
  </p>

  <p>
    <label>What is the recipe URL?</label>
    <input type="string" name="recipe_URL" value="<%= recipe["recipe_URL"] %>">
  </p>

  <p>
    <label>Do you have a link to a photo?</label>
    <input type="string" name="recipe_photo" value="<%= recipe["recipe_photo"] %>">
  </p>

  <input type="submit"> or <a href="/">Cancel</a>

  <!-- CHANGE THE HREF REDIRECT ABOVE AFTER HW SUBMITTED -->

</form>
