<h1>Add a New Recipe</h1>

<%= form_tag "/recipes", "method" => "post" %>

  <p>
    <%= label_tag "recipe_name", "What is the name of the recipe?" %>
    <%= text_field_tag "recipe_name" %>
  </p>

  <p>
    <%= label_tag "category_name", "What type of recipe is this (e.g., Breakfast, Appetizer)?" %>
    <%= text_field_tag "category_name" %>
  </p>

  <p>
    <%= label_tag "notes", "Do you have any notes or recommend any changes to this recipe?" %>
    <%= text_field_tag "notes" %>
  </p>

  <p>
    <%= label_tag "star_rating", "What rating would you give the recipe? (1 to 5, 5=best)" %>
    <%= text_field_tag "star_rating" %>
  </p>

  <p>
    <%= label_tag "recipe_URL", "What is the recipe URL?" %>
    <%= text_field_tag "recipe_URL" %>
  </p>

  <p>
    <%= label_tag "recipe_photo", "Do you have a link to a photo of the dish?" %>
    <%= text_field_tag "recipe_photo" %>
  </p>

  <%= submit_tag %> or <%= link_to "Cancel", "/" %>

  <!-- CHANGE THE HREF REDIRECT ABOVE AFTER HW SUBMITTED -->

</form>
