<% recipe_id = params["id"] %>
<% recipe = Recipe.read(recipe_id) %>

<div class="row">

  <div class="col-md-4">
    <%= image_tag(recipe["recipe_photo"]) %>
  </div>

  <div class="col-md-8">
    <h1><%= recipe["recipe_name"] %></h1>

    <h4> <a href="<%= recipe["recipe_URL"] %>">Recipe Link: Click Here to Get Cooking!</a> </h4>

      <% user = User.find_by("id" => recipe["user_id"]) %>
      <% if user.present? %>

      <h3><small> Added by <%= user["username"] %>, who gave this recipe <%= recipe["star_rating"] %> stars! </small></h3>

          <p><strong>What <%= user["username"] %> had to say: </strong></p>
          <p class= "bubble" > <em> " <%= recipe["notes"] %> " </em>  </p>

      <h5> Category: <%= recipe["category_name"] %> </h5>
      <h5><em><small> Date Added: <%= recipe["recipe_added"] %> </small></em></h5>

    <% end %>

<% recipe_id = params["id"] %>
<% recipe = Recipe.read(recipe_id) %>

<hr>

 <h4><strong> The Buzz on This Recipe </strong></h4>

    <% if Comment.where("recipe_id" => recipe["id"]).count == 0 %>
      <p>Be the first to add a comment!</p>
    <% end %>

    <%= form_tag "/comments" do %>

      <%= hidden_field_tag "recipe_id", recipe["id"] %>

      <div class="form-group">
        <%= text_area_tag :comment, "", "class" => "form-control", "placeholder" => "Add your comments or suggestions!", "rows" => 1 %>
      </div>

      <%= submit_tag "Add Comment", "class" => "btn btn-md btn-primary" %>
    <% end %>

<h4> <small> What other users are saying: </small> </h4>

    <% Comment.where("recipe_id" => recipe["id"]).each do |comment| %>

        <ul>
         <li> <%= comment["comment"] %> </li>
        </ul>

    <% end %>

  </div>
</div>

