<h1>Add a New User</h1>

<p><%= @message %></p>

<div class="row">
  <div class="col-md-5">

    <%= form_tag "/users", "method" => "post"  %>

      <div class="form-group">
        <%= label_tag "username", "Choose a username:" %>
        <%= text_field_tag "username", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "password", "Password:" %>
        <%= text_field_tag "password", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "name", "What's your name?" %>
        <%= text_field_tag "name", "", "class" => "form-control" %>
      </div>

            <div class="form-group">
        <%= label_tag "email_address", "What's your email address?" %>
        <%= text_field_tag "email_address", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "tagline", "Insert an account tagline:" %>
        <%= text_field_tag "tagline", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "network_id", "Join a Network (you may change your network later):" %>
     <%= select_tag "network_id",
                       options_from_collection_for_select(Network.all, :id, :network), "class" => "form-control" %>
      </div>

      <%= submit_tag "Add This User", "class" => "btn btn-lg btn-success" %> or <%= link_to "Cancel", "/" %>

    </form>
</div>
</div>
