
<% the_user = User.read(params["id"]) %>


<h2> Welcome to your kitchen, <%= the_user["username"] %>! </h2>

<h5> Here you may browse network suggestions, search the Collective Chef database, or edit your own Cookbook!</h5>

<hr>

<h2><small> Browse Your Networks</small></h2>

<% user = User.find_by("id" => cookies["user_id"]) %>
<p><em><%= link_to "Click Here to Add or Change Your Network in Your Profile", "/users/#{user["id"]}/edit" %></em></p>

<% network = Network.find_by("id" => user["network_id"]) %>

<p><strong><%= link_to "Browse Your Network's Recipes", "/networks/#{network["id"]}" %> </strong></p>


<h2><small> Search Collective Chef </small></h2>

 <p><strong><%= link_to "Browse the Full Collective Chef Database", "/rankall" %></strong></p>



<h2><small> My Cookbook </small></h2>

<head>
<style>
table,th,td
{border:1px solid black;
border-collapse:collapse;}
</style>
</head>

<body>

<table style="width:700px">
  <tr>
    <th> Recipe Title </th>
    <th> Star Rating </th>
    <th> Recipe Type </th>
    <th> Edit Recipe </th>
    <th> Delete Recipe </th>
  </tr>

<% my_recipes = Recipe.where("user_id" => params["id"]) %>
<% my_recipes.each do |recipe| %>

   <tr>
      <td> <%= link_to recipe["recipe_name"], "/recipes/#{recipe["id"]}" %> </td>
      <td> <%= recipe["star_rating"] %> </td>
      <td>  <%= recipe["category_name"] %> </td>
      <td> <%= link_to "Edit", "/recipes/#{recipe["id"]}/edit" %></td>
      <td> <%= link_to "Delete", "/recipes/#{recipe["id"]}", "method" => "delete" %></td>
   </tr>

    <% end %>

</table>

<h4><%= link_to "Click Here to Add a New Recipe!", "/recipes/new" %> </h4>

</body>
