
<!-- This page will eventually display only the logged in user's recipes!! -->

<h1> Welcome to your recipe book! </h1>

<head>
<style>
table,th,td
{border:1px solid black;
border-collapse:collapse;}
</style>
</head>

<body>

<table style="width:700px">
  <tr>
    <th> Recipe Title </th>
    <th> Star Rating </th>
    <th> Recipe Type </th>
    <th> Edit Recipe </th>
    <th> Delete Recipe </th>
  </tr>

<% all_recipes = Recipe.read.order("star_rating desc") %>
<% all_recipes.each do |recipe| %>

   <tr>
      <td> <%= link_to recipe["recipe_name"], "/recipes/#{recipe["id"]}" %> </td>
      <td> <%= recipe["star_rating"] %> </td>
      <td>  <%= recipe["category_name"] %> </td>
      <td> <%= link_to "Edit", "/recipes/#{recipe["id"]}/edit" %></td>
      <td> <%= link_to "Delete", "/recipes/#{recipe["id"]}", "method" => "delete" %></td>
   </tr>

    <% end %>

</table>

<h4><%= link_to "Click Here to Add a New Recipe!", "/recipes/new" %> </h4>

</body>
