<!DOCTYPE html>
<html>
  <head>
    <title>File</title>

    <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <div class="row">
          <div class="col-md-12">
            <h1>CollectiveChef</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <%= link_to "Collective Chef Homepage", "/", "class" => "item-link"  %>
          </div>
          <div class="pull-right">
          <% user = User.find_by("id" => cookies["user_id"]) %>
            <% if user != nil %>
              <%= user["name"] %> |
            <% end %>
                <% user = User.find_by("id" => cookies["user_id"]) %>
                <% unless user != nil %>
                <%= link_to "Sign Up", '/users/new' %> |
                <%= link_to "Sign In", '/login' %>
                <% end %>
            <% user = User.find_by("id" => cookies["user_id"]) %>
            <% if user != nil %>
            <%= link_to "My Kitchen", "/users/#{user["id"]}" %> |
            <%= link_to "Sign Out", "/logout" %>
            <% end %>
          </div>
        </div>
        <hr>
        <h4 class="text-warning"><%= notice %> </h4>
      </div>

      <%= yield %>

    <div>

  </body>
</html>
